.idea/*
*.iml
*.ipr
modules.xml
__pycache__/
*.py[cod]
*$py.class
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.webassets-cache
.python-version
Pipfile.lock
poetry.lock
__pypackages__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/*
*.vsix
.history
.ionide
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/