{% extends "base.html" %}


{% block script %}
<script type="text/javascript"language="javascript">
  async function caddFunction(event) {
    event.preventDefault();  // Предотвращаем стандартное действие форм
    
    // Получаем форму и собираем данные из неё
    const form = document.getElementById('addclient-form');
    const formData = new FormData(form);
    const data = Object.fromEntries(formData.entries());

  
    try {
        const response = await fetch('/clientadd', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });

        // Проверяем успешность ответа
        if (!response.ok) {
            // Получаем данные об ошибке
            const errorData = await response.json();
            displayErrors(errorData);  // Отображаем ошибки
            return;  // Прерываем выполнение функции
        }

        const result = await response.json();

        if (result.message) {  // Проверяем наличие сообщения о успешной регистрации
            window.location.href = '/new';  // Перенаправляем пользователя на страницу логина
            alert(result.message || 'Клиент успешно добавлен!');
        } else {
            alert(result.message || 'Неизвестная ошибка');
        }
    } catch (error) {
        console.error('Ошибка:', error);
        alert('Произошла ошибка при добавлении клиента. Пожалуйста, попробуйте снова.');
    }
}

</script>

<script type="text/javascript"language="javascript">
  async function ntradeaddFunction(event) {
    event.preventDefault();  // Предотвращаем стандартное действие форм
    
    // Получаем форму и собираем данные из неё
    const form = document.getElementById('addntrade-form');
    const formData = new FormData(form);
    const data = Object.fromEntries(formData.entries());

  
    try {
        const response = await fetch('/tradeadd', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });

        // Проверяем успешность ответа
        if (!response.ok) {
            // Получаем данные об ошибке
            const errorData = await response.json();
            displayErrors(errorData);  // Отображаем ошибки
            return;  // Прерываем выполнение функции
        }

        const result = await response.json();

        if (result.message) {  // Проверяем наличие сообщения о успешной регистрации
            window.location.href = '/new';  // Перенаправляем пользователя на страницу логина
            alert(result.message || 'Успешно!')
        } else {
            alert(result.message || 'Неизвестная ошибка');
        }
    } catch (error) {
        console.error('Ошибка:', error);
        alert('Произошла ошибка при добавлении продажи. Пожалуйста, попробуйте снова.');
    }
}

</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="content">
    <h1>Добавление Клиента</h1>
      <label>Добавить нового клиента</label>
    <div class="nice-form-group">
      <form id="addclient-form">
      <div class="nice-form-group">
        <label>Номер клиента</label>
        <input type="tel" placeholder="Номер в формате +71234567890" name="phone_number"/>
      </div>
      <div class="nice-form-group">
        <label>ФИО Клиента</label>
        <input type="text" placeholder="фио" name="names"/>
      </div>
      <div class="nice-form-group">
        <label>Комментарий</label>
        <input type="text" placeholder="комментарий" name="comment"/>
      </div>
      <button type="submit" id="reg-button" class="submit" onclick="caddFunction(event)">Добавить клиента</button>
    </form>
    </div>
  
    </div>
  <div class="flap"></div>
</div>
<div class="container">
  <div class="content">
    <h1>Продажа новой АКБ (или доп. товар)</h1>
    <form id="addntrade-form">
      <div class="nice-form-group">
        <label>Магазин</label>
        <select name="account">
          <option>Авторемонтная</option>
          <option>Берёзка</option>
          <option>Юркина</option>
          <option>Просторная</option>
          <option>Пролетарская</option>
        </select>
      </div>
      <div class="nice-form-group">
        <label>Номер клиента</label>
        <input type="text" placeholder="номер" value="" name="client_number"/>
      </div>
      <div class="nice-form-group">
        <label>Название АКБ</label>
        <input type="text" placeholder="акб" value="" name="akb"/>
      </div>
      <div class="nice-form-group">
        <label>Цена АКБ</label>
        <input type="text" placeholder="цена" value="" name="akb_price"/>
      </div>
      <div class="nice-form-group">
          <label>Старый акб</label>
        <select name="scrap_akb">
          <option>40-54</option>
          <option>55-69</option>
          <option>70-79</option>
          <option>80-94</option>
          <option>90-110</option>
          <option>110-132</option>
          <option>132-190</option>
          <option>190-230</option>
        </select>
      </div>
      <div class="nice-form-group">
        <label>Цена за старую АКБ</label>
        <input type="text" placeholder="цена" value="" name="scrap_price"/>
      </div>
      <div class="nice-form-group">
        <label>Скидка</label>
        <input type="text" placeholder="сумма (не учитывая старую акб)" value="" name="action_sum"/>
      </div>
      <div class="nice-form-group">
        <label>Сумма продажи</label>
        <input type="text" placeholder="итого (если отрицательная, поставить '-' перед суммой)" value="" name="sum"/>
      </div>
      <div class="nice-form-group">
        <label>Способ оплаты</label>
        <select name="method">
          <option>терминал</option>
          <option>наличные</option>
          <option>перевод</option>
          <option>Qr</option>
        </select>
      </div>
      <div class="nice-form-group">
        <label>Комментарий к продаже</label>
        <input type="text" placeholder="Комментарий" value="" name="comment"/>
      </div>
      <div class="nice-form-group">
        <label>Оплата по счету</label>
        <select name="payment_invoice">
          <option>Нет</option>
          <option>Да</option>
        </select>
      </div>
      <div class="nice-form-group">
        <label>Данные счета</label>
        <input type="text" placeholder="ссылка/полные данные" value="" name="invoice_data"/>
      </div>
      <button type="submit" id="reg-button" class="submit" onclick="ntradeaddFunction(event)">Добавить продажу</button>
    </form>
  </div>
</div>

{% endblock %}