<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторицазия</title>
    <link rel="stylesheet" href="https://unpkg.com/twinklecss@1.1.0/twinkle.min.css"/>
    {% block cssdatatable %}
    <link href="{{ url_for('static', path='/auth.css') }}" rel="stylesheet" />
    {% endblock %}
    <script type="text/javascript"language="javascript">
      async function loginFunction(event) {
    event.preventDefault();  // Предотвращаем стандартное действие формы

    // Получаем форму и собираем данные из неё
    const form = document.getElementById('login-form');
    const formData = new FormData(form);
    const data = Object.fromEntries(formData.entries());

    try {
        const response = await fetch('/auth/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });

        // Проверяем успешность ответа
        if (!response.ok) {
            // Получаем данные об ошибке
            const errorData = await response.json();
            displayErrors(errorData);  // Отображаем ошибки
            return;  // Прерываем выполнение функции
        }

        const result = await response.json();

        if (result.message) {  // Проверяем наличие сообщения о успешной регистрации
            window.location.href = '/new';  // Перенаправляем пользователя на страницу логина
        } else {
            alert(result.message || 'Неизвестная ошибка');
        }
    } catch (error) {
        console.error('Ошибка:', error);
        alert('Произошла ошибка при входе. Пожалуйста, попробуйте снова.');
    }
}

  </script>
</head>
<body>
      <form id="login-form" class="login-form">
          <div class="form">
          <div class="title">RestartCRM</div>
          <div class="subtitle">Войти в аккаунт</div>
          <div class="input-container ic1">
            <input id="email" name="email" class="input" type="text" placeholder=" " />
            <div class="cut"></div>
            <label for="email" class="placeholder">Почта</label>
          </div>
          <div class="input-container ic2">
            <input id="password" name="password" class="input" type="text" placeholder=" " />
            <div class="cut"></div>
            <label for="password" class="placeholder">Пароль</label>
          </div>
          <button type="submit" class="submit" onclick="loginFunction(event)">Войти</button>
        </div>
      </form>
</body>
</html>