{% extends "base.html" %}
{% block cssdatatable %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.css" />
{% endblock %}
{% block content %}
{{ data }}
<table id="table" class="display">
    <thead>
        <tr>
            {% for th in column_names %}
                <th> {{th}} </th>
            {% endfor %}
        </tr>
    </thead>
</table>
{% endblock %}
{% block jsdatatable %}
<script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
<script>new DataTable('#table', {data: {{ data }}});</script>
{% endblock %}